<mat-card style="height: 100%;">
    <div style="float:left" style="cursor: pointer;" (click)="class()">
        <button [disabled]="aulaRealizada" mat-raised-button color="primary" tilte="Ir para aula"
            aria-placeholder="Ir para aula">
            Frequentar Aulas
        </button> <span *ngIf="aulaRealizada">
            <mat-icon style="color: green">check_circle</mat-icon>
        </span><br><br>
        <mat-card-subtitle>
            Horas de aula por dia: {{horasMedia}} ---- Faltas: {{this.faltas}}/{{getFaltasPermitidas()}}
        </mat-card-subtitle>
        <mat-divider></mat-divider>
    </div>

    <mat-grid-list [cols]="12" rowHeight="30px">
        <mat-grid-tile [colspan]="12" [rowspan]="2" *ngIf="loading">
            <mat-card-content>
                <mat-spinner></mat-spinner>
            </mat-card-content>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="12" [rowspan]="2">
        </mat-grid-tile>
        <mat-card-content *ngFor="let materia of materias">
            <mat-grid-tile [colspan]="12" [rowspan]="2">
                {{materia.nome}} - {{materia.cr}} créditos.
            </mat-grid-tile>
        </mat-card-content>
    </mat-grid-list>
</mat-card>