<mat-card>
    <mat-card-title>Matérias do Curso</mat-card-title>
    <mat-card-content>
        <div *ngFor="let materia of materias">

            <div style="padding: 25px;margin: 10px; text-align: center;">
                {{materia.nome | titlecase}} - {{materia.creditos}} créditos.
                <br>
                <span style="size: 6px; color: gray; margin-top: -15px;" *ngIf="materia.obrigatorio">Obrigatória</span>
                <span *ngIf="!materia.obrigatorio">Optativa</span>
                <br> <span style="size: 6px; color: red">Não realizada.</span><br>

                <br>
                <mat-divider></mat-divider>


            </div>

        </div>
    </mat-card-content>
</mat-card>