<mat-card style="height: 1500px; width: 90%;">
    <mat-card-subtitle>
        Trabalhos/Provas Feitos
    </mat-card-subtitle>
    <mat-divider style="width: 80%; margin: 15px;">
    </mat-divider><br><br>
    <mat-grid-list [cols]="12" rowHeight="25px">
        <div *ngFor="let materia of materias">
            <div *ngIf="materia.trabalhos">
                <div *ngFor="let trabalho of materia.trabalhos; let i = index;">
                    <div *ngIf="trabalho.realizado">
                        <mat-card 
                            style="cursor:pointer; height: 100%; width: 80%;" (click)="selectCard(trabalho)">
                            <mat-card-title>Trabalho {{i+1}} {{materia.nome}}</mat-card-title>
                            <mat-card-subtitle> Peso: {{trabalho.peso}}%</mat-card-subtitle>
                            <mat-card-subtitle>Nota: {{trabalho.nota}}</mat-card-subtitle>
                        </mat-card>
                        <br><br>
                    </div>
                </div>
                <div *ngFor="let prova of materia.provas;let i = index;">
                    <div *ngIf="prova.realizado">
                        <mat-card 
                            style="cursor:pointer; height: 100%; width: 80%;" (click)="selectCard(prova)">
                            <mat-card-title>Prova {{i+1}} {{materia.nome}}</mat-card-title>
                            <mat-card-subtitle> Peso: {{prova.peso}}%</mat-card-subtitle>
                            <mat-card-subtitle>Nota: {{prova.nota}}</mat-card-subtitle>
                        </mat-card>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </mat-grid-list>
</mat-card>