<form [formGroup]="userForm" autocomplete="off" (ngSubmit)="createUser(userForm.value)">
    <mat-card style="width: 100%; height: 100%;">
        <mat-grid-list [cols]="12" rowHeight="100px">
            <mat-grid-tile [colspan]="12" [rowspan]="1">
                <mat-card-title>Novo Jogo</mat-card-title>
            </mat-grid-tile>

            <mat-card-content>
                <!-- NOME -->
                <mat-grid-tile [colspan]="12" [rowspan]="1">
                    <mat-form-field style="width: 50%; text-align: center;">
                        <input matInput type="text" placeholder="Nome do Aluno" formControlName="nome" id="nome"
                            (blur)="generateMatricula()">
                        <mat-error *ngIf="hasError('nome', 'required')">O campo nome é obrigatório!</mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <br>
                <mat-grid-tile [colspan]="12" [rowspan]="2">
                    <mat-form-field style="width: 50%; text-align: center;">
                        <input matInput placeholder="Data de nascimento" aria-label="Data de nasicmento"
                            formControlName="birthday" [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
                        <mat-error *ngIf="hasError('birthday', 'required')">O campo data é obrigatório!
                        </mat-error>
                    </mat-form-field>
                </mat-grid-tile>
                <!-- Matrícula -->
                <mat-grid-tile [colspan]="12" [rowspan]="1">
                    <mat-form-field style="width: 50%; text-align: center; color: gray;">
                        <input matInput type="text" placeholder="Matrícula do aluno" readonly
                            formControlName="matricula">
                        <!-- <mat-error *ngIf="hasError('birthday', 'required')">O campo matrícula é obrigatório!
                        </mat-error> -->
                    </mat-form-field>
                </mat-grid-tile>
                <br>





            </mat-card-content>
            <mat-card-actions *ngIf="!loading">
                <mat-grid-tile [colspan]="12" [rowspan]="1">
                    <button mat-raised-button color="primary" [disabled]="!userForm.valid">Começar</button>
                    <button type="button" mat-raised-button color="warn" (click)="onCancel()">Voltar</button>
                </mat-grid-tile>
            </mat-card-actions>
            <mat-grid-tile [colspan]="12" [rowspan]="1">
                <mat-spinner *ngIf="loding"></mat-spinner>
            </mat-grid-tile>

        </mat-grid-list>
    </mat-card>
</form>