<mat-toolbar color="primary" style="text-align: center;">
    <h2>
        Selecione um aluno
    </h2>
</mat-toolbar>
<mat-grid-list [cols]="12" rowHeight="50px" *ngIf="loading">
    <mat-grid-tile [colspan]="12" [rowspan]="10">
        <mat-spinner *ngIf="loading"></mat-spinner>
    </mat-grid-tile>
</mat-grid-list>
<div style="text-align: center;" *ngIf="!loading">
    <br><br>
    <div *ngFor="let user of listaUsers">
        <mat-card style="cursor: pointer; padding: 15px;" class="user-card" (click)="selectStudent(user.id)">
            <mat-card-title>
                {{user.name}}
            </mat-card-title>
            <mat-card-subtitle>{{user.birthday | date}}</mat-card-subtitle>
            <mat-card-content>
                Semestre: {{user.currentSemestre}}
            </mat-card-content>

        </mat-card>
        <mat-divider></mat-divider>
    </div>

</div>