<div *ngIf="this.usuario">
    <mat-toolbar color="primary">
        <span class="spacer"></span>
        <button mat-button (click)="abrirMateriasRealizadas = !abrirMateriasRealizadas">Ver Matérias cursadas.</button>

    </mat-toolbar>
    <mat-grid-list [cols]="12" rowHeight=50px>
        <mat-grid-tile [colspan]="12" [rowspan]="1">
            <mat-card-title>
                Novo Semestre
            </mat-card-title>
        </mat-grid-tile>
        <!-- <mat-grid-tile [colspan]="6" [rowspan]="5">


        </mat-grid-tile> -->
        <!-- <mat-grid-tile [colspan]="6" [rowspan]="5">

            <mat-card style="height: 100%; width: 50%; overflow-y: scroll;">
                <mat-card-title style="size: 20px">
                    Materias do último semestre:
                </mat-card-title>
                <mat-card-content>
                    <mat-card *ngFor="let materia of this.usuario.materiasMatriculadas">
                        {{materia.nome}}
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile> -->
        <mat-grid-tile [colspan]="12" [rowspan]="1">
            <mat-divider></mat-divider>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="12" [rowspan]="10" style="overflow-y: scroll; text-align: center;">
            <mat-card style="height: 90%; width: 90%;">
                <mat-card-title style="size: 20px">
                    Materias Disponíveis:
                </mat-card-title>
                <mat-card-subtitle>
                    Selecione uma das matérias abaixos para se matricular.
                </mat-card-subtitle>
                <mat-divider></mat-divider>
                <mat-card-content>
                    <mat-card class="materias-selecionaveis" *ngFor="let materia of allMaterias"
                        (click)="selectCard(materia)" [class.selected]="isSelected(materia)">
                        {{materia.nome}} - {{materia.creditos}} créditos.
                    </mat-card>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="12" [rowspan]="2" style="overflow-y: scroll; text-align: center;">

            <button mat-raised-button [disabled]="somaCreditos < 14">Começar</button>

        </mat-grid-tile>
        <mat-grid-tile [colspan]="12" [rowspan]="2" style="overflow-y: scroll; text-align: center;">

            <mat-card-subtitle style="color:red" *ngIf="somaCreditos < 14">Selecione no mínimo 14 créditos. Créditos
                atuais: {{somaCreditos}}</mat-card-subtitle>
        </mat-grid-tile>

        <dialog *ngIf="abrirMateriasRealizadas">
            <mat-grid-tile [colspan]="12" [rowspan]="7">
                Materias Cursadas: <mat-card-content *ngIf="this.usuario.materiasRealizadas.length > 0">
                    <div *ngFor="let materia of this.usuario.materiasRealizadas">
                        {{materia.nome}}
                        <br>
                        <mat-divider>
                        </mat-divider>
                        <br>
                    </div>
                </mat-card-content>
                <mat-card-content *ngIf="this.usuario.materiasRealizadas.length === 0">
                    Você ainda não fez nenhuma matéria.

                </mat-card-content>
            </mat-grid-tile>
        </dialog>
    </mat-grid-list>
</div>