.materias-selecionaveis
{
    cursor: pointer;
    transition: ease-in 0.5s;
    background-color: white;
}

.materias-selecionaveis:hover {
    background-color: rgb(168, 168, 168);
}
.spacer {
    flex: 1 1 auto;
  }

  .selected
{
    background-color: rgb(236, 236, 236);
}
