<mat-card>
<mat-grid-list [cols]="12" rowHeight="50px">

    <mat-grid-tile [colspan]="12" [rowspan]="5">
        <div id="chartTotalContainer" style="height: 200px;
        width: 100%;"></div>
    </mat-grid-tile>
</mat-grid-list>
</mat-card>