<mat-grid-list [cols]="12" rowHeight="50px">
    <mat-grid-tile [colspan]="12" [rowspan]="2">
        <mat-slider style="width:80%" (change)="setValueHoras($event)" [thumbLabel]="true" tickInterval="1" min="1" max="12" step="1" value="0">
        </mat-slider>
        Horas
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2"></mat-grid-tile>

    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <button mat-raised-button color="primary" (click)="study($event)">
            Estudar
        </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2" (click)="fun()">
        <button mat-raised-button>
            Lazer
        </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <button mat-raised-button color="accent" (click)="break()">
            Pausa (10 minutos)
        </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <button mat-raised-button color="warn" (click)="sleep()">
            Dormir
        </button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2"></mat-grid-tile>
</mat-grid-list>