<mat-card class="home-card" style="height:100%">
    <mat-grid-list cols="12" rowHeight="75px">
        <mat-grid-tile [colspan]="12" [rowspan]="1">
            <mat-card-header style="text-align: center;">
                <!-- <div mat-card-avatar class="header-image"></div> -->
                <mat-card-title>
                    Simulação de Carreira
                </mat-card-title>
                <mat-card-subtitle>
                    Métodos em programação - 2/2019
                </mat-card-subtitle>
            </mat-card-header>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="5"></mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="5">
            <img mat-card-image src="../../../assets/images/man-climbing-stairs.png" alt="Simulação de Carreira"
                size="20%">
        </mat-grid-tile>
        <mat-grid-tile [colspan]="5" [rowspan]="5">
        </mat-grid-tile>
        <mat-card-content>
            <mat-grid-tile [colspan]="5" [rowspan]="1"></mat-grid-tile>

            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button color="warn" routerLink="/new-game">Novo Jogo</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <button mat-raised-button color="warn" [disabled]="!hasUsers()"
                    routerLink="/load-game">Carregar Jogo</button>
            </mat-grid-tile>

            <mat-grid-tile [colspan]="5" [rowspan]="1"></mat-grid-tile>
            <mat-grid-tile [colspan]="5"></mat-grid-tile>
            <mat-grid-tile [colspan]="2">
                <button style="width: 80%;" mat-raised-button color="primary">Sair</button>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="5"></mat-grid-tile>
        </mat-card-content>

    </mat-grid-list>
</mat-card>