.header-image {
    background-image: url('../../../assets/images/man-climbing-stairs.svg');
    background-size: cover;
  }
  .image {
    background-image: url('../../../assets/images/man-climbing-stairs.svg');
    background-size: cover;
    color: white;
/* height: 100%;   */
}
.home-card {
    background-color: rgb(255, 255, 255);
    opacity: 80%;
}