<mat-card style="height: 1500px; width: 85%;">

    <mat-card-subtitle>
        Trabalhos/Provas Pendentes
    </mat-card-subtitle>
    <mat-card-subtitle>
        (Caso sua ação seja relacionada com uma matéria, não esqueça de selecionar a Prova/Trabalho
        desejado)</mat-card-subtitle>
    <mat-divider style="width: 80%; margin: 15px;">
    </mat-divider><br>
    <mat-grid-list [cols]="12" rowHeight="25px">
        <div *ngFor="let materia of materias; let j = index">
            <div *ngIf="materia.trabalhos">
                <div *ngFor="let trabalho of materia.trabalhos; let i = index;">
                    <mat-card [class.selected]="trabalho===activeVariable" *ngIf="!trabalho.realizado"
                        style="height: 100%; width: 80%; cursor: pointer;"
                        (click)="selectCard(j, trabalho, i, 'trabalho')">
                        <mat-card-title>Trabalho {{i+1}} - {{materia.nome}}</mat-card-title>
                        <mat-card-subtitle></mat-card-subtitle>
                        <mat-card-subtitle> Menção atual:{{trabalho.mencao}}</mat-card-subtitle>
                        <mat-card-subtitle> Horas restantes para aumentar a menção:
                            {{ this.calculaHoraRestante(trabalho) }} horas
                        </mat-card-subtitle>
                    </mat-card>
                    <br><br>
                </div>
                <div *ngFor="let prova of materia.provas;let i = index;">
                    <mat-card [class.selected]="prova===activeVariable" *ngIf="!prova.realizado"
                        style="height: 100%; width: 80%; cursor: pointer;" (click)="selectCard(j,prova, i, 'prova')">
                        <mat-card-title>Prova {{i+1}} {{materia.nome}}</mat-card-title>
                        <mat-card-subtitle> Menção atual: {{prova.mencao}} </mat-card-subtitle>
                        <mat-card-subtitle> Horas restantes para aumentar a menção:
                            {{ this.calculaHoraRestante(prova)}} horas</mat-card-subtitle>
                    </mat-card>
                    <br><br>
                </div>
            </div>
        </div>
    </mat-grid-list>
</mat-card>