<mat-card>
    <mat-card-title>Histórico de ações</mat-card-title>
    <mat-card-content>
        <div *ngFor="let acoes of data">
            <div *ngIf="acoes">
                <div *ngIf="acoes.key === 'estudo' || acoes.key === 'lazer' || acoes.key === 'dormir' || acoes.key ==='aula'"
                    style="padding: 15px; text-align: center;">
                    {{acoes.key | titlecase}} por - {{acoes.horasDeEstudo ?  acoes.horasDeEstudo : ''}}
                    {{acoes.horasDeLazer ?  acoes.horasDeLazer : ''}}
                    {{acoes.horasDeSono ?  acoes.horasDeSono : ''}}
                    {{acoes.horasDeAula ?  acoes.horasDeAula : ''}} hora(s).
                    <br><br>
                    <mat-divider></mat-divider>
                </div>
                <div *ngIf="acoes.key === 'pausa'" style="padding: 15px; text-align: center;">
                    {{acoes.key | titlecase}} por 10 minutos.
                    <br><br>
                    <mat-divider></mat-divider>
                </div>
            </div>

        </div>
    </mat-card-content>
</mat-card>