<mat-grid-list [cols]="12" rowHeight="100px">
    <mat-grid-tile [colspan]="12" [rowspan]="4">
        <div id="chartContainer" style="height: 300px;
 width: 100%;"></div>
    </mat-grid-tile>
</mat-grid-list>