<div style="text-align: center; margin: 0 auto;">
    <mat-card style="height: 90%; width: 90%;">
        <mat-card-title>Regras: </mat-card-title>
        <br>
        <mat-divider></mat-divider><br>
        <mat-card-subtitle>
            1. O jogo é dividido em 4 ações: Estudar, Dormir, Lazer e uma Pausa de 10 minutos de atividades.
        </mat-card-subtitle>
        <mat-card-subtitle>
            2. Para Estudar, dormir ou se divertir, será necessário ajustar as quantidades de horas que deseja praticar
            cada ação no controle abaixo dos butões.
        </mat-card-subtitle>
        <mat-card-subtitle>
            3. Cada matéria possui provas e trabalhos, que precisam ser dedicados em determinadas horas de estudo para
            conseguirem uma certa menção.
        </mat-card-subtitle>
        <mat-card-subtitle>
            4. O tempo de cada matéria também dependerá do seu desempenho, que por sua vez dempenderá das suas
            atividades, se estuda muito o desempenho cai, entretanto caso gaste muito tempo com lazer não terá tempo
            suficiente para se dedicar à matérias.
        </mat-card-subtitle>
        <mat-card-subtitle>5. O desempenho máximo é 2, que significa que voce precisará estudar pela metade do
            necessário,
            o mínimo é 0, e o inicial é 1.</mat-card-subtitle>
        <mat-card-subtitle>
            6. Todo o dia você terá a opção de ir as aulas ou faltá-las, caso decida ir, será descontado do seu
            horário a média de créditos daquele semestre por dia naquele dia. Ex.: 20 créditos => 4 horas
            descontadas.
        </mat-card-subtitle>

        <mat-card-subtitle>
            Para o primeiro semestre não será necessário escolher as matérias, com o passar do curso, você poderá
            escolher quais matérias se matricular. Boa sorte!
        </mat-card-subtitle>
        <mat-card-actions style="text-align: center;">
            <button mat-raised-button color="primary" [disabled]="!id" (click)="startGame()">Começar</button>
        </mat-card-actions>
    </mat-card>
</div>