<div *ngIf="this.usuario">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <mat-icon class="icon" aria-hidden="false" aria-label="Sair">face</mat-icon> &nbsp;&nbsp;
            <span> {{this.usuario.getNome()}} - {{this.usuario.getMatricula()}}</span>
            <span *ngIf="this.usuario.getHora() > 23 || this.usuario.getHora() < 6">
                &nbsp;&nbsp;&nbsp; - <mat-icon class="icon">nights_stay</mat-icon>
            </span>

            <span class="spacer"></span>
            <button mat-button tilte="Histórico" aria-placeholder="Histórico" (click)="trancarSemestre()">Trancar Semestre
                <mat-icon class="icon">lock</mat-icon>
            </button>
            <button mat-button tilte="Histórico" aria-placeholder="Histórico" (click)="openClasses()">Matérias
                <mat-icon class="icon">library_books</mat-icon>
            </button>
            <button mat-button tilte="Histórico" aria-placeholder="Histórico" (click)="openHistory()">Histórico
                <mat-icon class="icon">history</mat-icon>
            </button>
            <button mat-button tilte="Histórico" aria-placeholder="Histórico" (click)="save()">Salvar
                <mat-icon class="icon">save</mat-icon>
            </button>
            <button mat-button tilte="Sair" (click)="onCancel()">
                Sair <mat-icon class="icon" aria-hidden="false" aria-label="Sair">exit_to_app</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card style="height: 100%;">
        <mat-grid-list [cols]="12" rowHeight="50px">
            <mat-card-subtitle style="text-align: center;">Semestre: {{this.usuario.getSemestre()}}º -
                Data: {{this.usuario.getDataString()}} - {{this.usuario.getHorasString()}}
            </mat-card-subtitle>
            <mat-card-subtitle style="text-align: center;">Desempenho Atual: {{this.usuario.getDesempenhoString()}}
            </mat-card-subtitle>
            <mat-card-subtitle>Selecione uma opção de ação:</mat-card-subtitle>
            <mat-grid-tile [colspan]="12" [rowspan]="2"></mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="10">
                <app-painel-pendente (materiaSelecionada)="getMateriaSelecionada($event)"
                    [materias]="this.usuario.materiasMatriculadas" [desempenho]="usuario.getDesempenho()"
                    style="width: 100%; height: 100%; overflow-y: scroll"></app-painel-pendente>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="5">
                <mat-divider [vertical]="true"></mat-divider>
                <app-painel-feito style="width: 100%; height: 80%; overflow-y: scroll"
                    [materias]="this.usuario.materiasMatriculadas"></app-painel-feito>
                <!-- <mat-card style="width: 80%; height: 80%">
                <mat-card-subtitle>Provas/Trabalhos Feitos</mat-card-subtitle>
            </mat-card> -->
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="10">
                <mat-card style="width: 100%; height: 100%;">
                    <mat-card-subtitle>Desempenho atual </mat-card-subtitle>
                    <mat-divider></mat-divider>

                    <div id="chartContainer" style="height: 300px;
                         width: 100%;"></div>

                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="6">
                <!-- <mat-divider></mat-divider> -->
                <mat-card style="width: 100%; height: 80%; overflow-y: scroll">
                    <mat-card-subtitle>Matérias</mat-card-subtitle>
                    <app-panels-materia (emitClass)="actions($event)" [token]="this.usuario.getToken()"
                        [faltas]="usuario.getFaltas() ? this.usuario.getFaltas() : 0"
                        [aulaRealizada]="aulaRealizada ? aulaRealizada : false">
                    </app-panels-materia>
                </mat-card>
            </mat-grid-tile>

            <mat-divider></mat-divider>
            <mat-grid-tile [colspan]=" 12" [rowspan]="1">
                <mat-divider></mat-divider>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="12" [rowspan]="10">
                <app-painel-butoes (emmiter)="actions($event)" style="width: 100%; height: 100%;"></app-painel-butoes>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="12" [rowspan]="10" *ngIf="this.usuario.getDesempenho() === 0">
                <span>
                    &nbsp;&nbsp;&nbsp; Recupere o desempenho dormindo ou praticando algum Lazer!
                </span>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card>
</div>